.search-box .form-control {
    padding-left: 2.375rem;
  }
  
  .search-box .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
  }
  
  input {
    width: 300px;
    border-radius: 30px;
    box-sizing: border-box;
  }
  
  .search-box {
    margin: 15px;
  }
  