.main {
    .list-style {
      border-bottom: 0.5px solid rgba(156, 153, 153, 0.507);
    }
  
    .img-avatar {
      border-radius: 5px;
    }
   }
  
   .sidebar {
    padding: 0;
    height: 15vh;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  
    agm-map {
      height: 100vh;
    }
    
  }