<div class="main" *ngIf="foodArray[0];">
    <div class="container-fluid">
      <div id="carouselExample" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner row w-100 mx-auto " role="listbox">
          <div class="carousel-item col-md-3 px-0 active">
            <div class="panel panel-default">
              <div class="panel-thumbnail">
                <a href="#" data-toggle="modal" data-target=".pop-up-1" title="image 1" class="thumb">
                  <img class="img-fluid mx-auto d-block" src={{foodArray[0]}} alt="slide 1">
                </a>
              </div>
            </div>
          </div>
          <div class="carousel-item col-md-3 px-0">
            <div class="panel panel-default">
              <div class="panel-thumbnail">
                <a href="#" title="image 2" class="thumb">
                  <img class="img-fluid mx-auto d-block img-style" src={{foodArray[1]}} alt="slide 2">
                </a>
              </div>
            </div>
          </div>
          <div class="carousel-item col-md-3 px-0">
            <div class="panel panel-default">
              <div class="panel-thumbnail">
                <a href="#" title="image 3" class="thumb">
                  <img class="img-fluid mx-auto d-block" src={{foodArray[2]}} alt="slide 3">
                </a>
              </div>
            </div>
          </div>
          <div class="carousel-item col-md-3 px-0">
            <div class="panel panel-default">
              <div class="panel-thumbnail">
                <a href="#" title="image 4" class="thumb">
                  <img class="img-fluid mx-auto d-block" src={{foodArray[3]}} alt="slide 4">
                </a>
              </div>
            </div>
          </div>
          <div class="carousel-item col-md-3 px-0">
            <div class="panel panel-default">
              <div class="panel-thumbnail">
                <a href="#" title="image 5" class="thumb">
                  <img class="img-fluid mx-auto d-block" src={{foodArray[4]}} alt="slide 5">
                </a>
              </div>
            </div>
          </div>
          <div class="carousel-item col-md-3 px-0">
            <div class="panel panel-default">
              <div class="panel-thumbnail">
                <a href="#" title="image 6" class="thumb">
                  <img class="img-fluid mx-auto d-block" src={{foodArray[5]}} alt="slide 6">
                </a>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev text-faded"  href="#carouselExample" role="button" data-slide="prev">
  
            <span class="carousel-control-prev-icon " aria-hidden="true"></span>
  
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next text-faded" href="#carouselExample" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>

  <script>
    // Carousel
    $('#carouselExample').on('slide.bs.carousel', function (e) {
  
  
      var $e = $(e.relatedTarget);
      var idx = $e.index();
      var itemsPerSlide = 4;
      var totalItems = $('.carousel-item').length;
  
      if (idx >= totalItems - (itemsPerSlide - 1)) {
        var it = itemsPerSlide - (totalItems - idx);
        for (var i = 0; i < it; i++) {
          // append slides to end
          if (e.direction == "left") {
            $('.carousel-item').eq(i).appendTo('.carousel-inner');
          } else {
            $('.carousel-item').eq(0).appendTo('.carousel-inner');
          }
        }
      }
    });
  
  
    $('#carouselExample').carousel({
      interval: 2000
    });
  
  
    $(document).ready(function () {
      /* show lightbox when clicking a thumbnail */
      $('a.thumb').click(function (event) {
        event.preventDefault();
        var content = $('.modal-body');
        content.empty();
        var title = $(this).attr("title");
        $('.modal-title').html(title);
        content.html($(this).html());
        $(".modal-profile").modal({
          show: true
        });
      });
  
    });
  
  </script>
  